.login-form {
    max-width: 300px;
    margin: auto;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
  .label {
      color: grey;
      font-size: 14px;  
  }

  h1 {
    color: grey;
    margin: auto;
    text-align: center; 
  }
  