.wrapper {
  max-width: 1200px;
  margin: auto;
  .login-form {
    width: 100%;
    margin-top: 100px;
    img {
      width: 70%;
      max-width: 250px;
    }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
  .label {
      color: rgb(190, 190, 190);
      font-size: 14px;  
  }

  h1 {
    color: rgb(190, 190, 190);
    margin: 10px 0px 20px;
    text-align: center; 
  }
}
  
}