.employee-mng{
    max-width: 1350px;
    margin: auto;
    height: 100%;
    .row{
        width: 100%;
        padding: 0px 20px;
        display: flex;
        flex: 1;
        margin-top: 20px;
        height: 100%;
        .col-left {
            width: 25%;
            min-width: 200px;
            height: 100%;
        }
        .col-right {
            width: 75%;
            height: 100%;
        }
    }
}