.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: $color-pink;
  padding: 10px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 10px;
  min-height: 60px;
  .button {
    text-transform: uppercase;
    font-weight: 300;
    background: $color-red-dark;
    color: $color-white;
    border: none;
    box-shadow: 0 3px $color-black;
    &:hover {
      color: $color-wine-purple;
      box-shadow: 0 3px $color-wine-purple;
    }
    &:active {
      color: $color-wine-purple;
      box-shadow: 0 3px $color-wine-purple;
    }
  }
  .title {
    font-size: 18px;
    font-weight: 600;
    color: $color-wine-purple;
    text-transform: uppercase;
  }
}
