.footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-height: 60px;
    position: absolute;
    bottom: 0px;
    .button {
      text-transform: uppercase;
      font-weight: 300;
      border: none;
      box-shadow: 0 3px #fff;
      &:hover {
        opacity: 0.8;
      }
      font-family: Arial, Helvetica, sans-serif;
    }
    .btn-cancel {
        background: none;
        border: 1px solid rgba(0, 0, 0, 0.65);
        color: rgba(0, 0, 0, 0.65);
    }
    .btn-primary {
      background: #00589e;
      color: #fff;
    }
    
    .title {
      font-size: 18px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.65);
      text-transform: uppercase;
    }
  }
  